<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1><%= productName %> Product!!!</h1>
    <ul>
        <% for(let product of products) { %>
            <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
        <% } %>
    </ul>
    <section style="display:flex; margin-top: 10px;">
        <form action="/products" style="margin-right: 10px;">
            <select name="category" id="category" onchange='this.form.submit()'>
                <option value=""> -- filter --</option>
                <option value="">all product</option>
                <% for (let c of categories) { %> 
                    <option value="<%= c %>"><%= c %></option>  
                <% } %>
            </select>
        </form>
        <form action="/products/create">
            <button>Create New Product</button>
        </form>
    </section>
</body>
</html>