<%- layout('layouts/boilerPlate') %>
    <h1>All Campground</h1>
    <a href="/campgrounds/new" class="btn btn-primary my-2">New Campground</a>
    <% for (let campground of campgrounds) { %>
        <div class="card my-2">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images[0]) { %>
                        <img class="img-fluid h-100 d-inline-block" src="<%= campground.images[0].url %>" alt="">
                        <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-title fw-medium">
                            <%= campground.title %>
                        </div>
                        <p class="card-text fst-italic">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>