<%- layout('layouts/boilerPlate') %>
    <link rel="stylesheet" href="/stylesheet/stars.css">
    <div class="row">
        <div class="col-6 offset-3">
            <!-- location to displa the map -->
            <div id='map' style='width: 400px; height: 300px;'></div>
            <div class="card mb-5">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <% campground.images.forEach((img, i)=> { %>
                            <div class="carousel-item <%= i === 0 ? 'active' : '' %> ">
                                <img src="<%= img.url %>" class="d-block w-100" alt="...">
                            </div>
                            <% }) %>
                    </div>
                    <!-- remove control if there's only 1 image -->
                    <% if (campground.images.length> 1) { %>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <% } %>
                </div>

                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item ">
                        by. <%= campground.author.username %>
                    </li>
                    <li class="list-group-item">$<%= campground.price %>/night</li>
                </ul>
                <% if (currentUser && campground.author.equals(currentUser._id)) { %>
                    <div class="card-body">
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-info">Edit</a>
                        <form class="d-inline mx-1" action="/campgrounds/<%= campground._id %>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                        <div class="card-footer text-body-secondary">
                            2 days ago
                        </div>
            </div>
            <h2>Reviews</h2>
            <% if (currentUser) { %>
                <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="mb-4 need-validation"
                    novalidate>
                    <div class="mb-3">
                        <fieldset class="starability-basic">
                            <legend style="font-size: 1.05rem;">Rating:</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                                aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="body">Description:</label>
                        <textarea class="form-control" name="body" id="body" cols="15" rows="3" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <% } %>
                    <% for (let review of campground.reviews) { %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= review.author.username %>
                                </h5>
                                <h6 class="card-subtitle mt-3 text-body-secondary">
                                    <p class="starability-result" data-rating="<%= review.rating %>">
                                        Rated: <%= review.rating %> stars
                                    </p>
                                </h6>
                                <p class="card-title">Description: <%= review.body %>
                                </p>
                                <% if (currentUser && review.author.equals(currentUser._id)) { %>
                                    <form
                                        action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>

    <!-- cannot access the value within the separate file, NEED TO access first then pass through variable. -->
    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
        // JSON.stringigy(campground) => to get the log of campground (each key-value pair data)
        // NO QUOTATION - ELSE RETURN AS STRING AND IT WON'T WORK
        const campground = <%- JSON.stringify(campground) %>;
    </script>
    
    <!-- link to display map default setting code file -->
    <script src="/javascript/displayMap.js"></script>